@import './reset.scss';

// scrollbar 外觀設置
::-webkit-scrollbar {
    width: 10px;
}

// 背景那一條
::-webkit-scrollbar-track {
    background-color: #faa;
}

// 目前位置的那根
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #000;
    border-radius: 10px;
}