// sidebar 的寬度
$base-menu-width: 260px;

// sidebar 的背景顏色
$base-menu-color: #001529;

// navigation 的高度
$base-tabbar-height: 50px;

// layout main 的 padding
$base-main-padding: 20px;

$base-menu-logo-height: 50px;
$base-menu-logo-padding: 20px;

$base-logo-title-fontSize: 30px;